/* ****************************************************
  @file         main.css
  @description  Main user stylesheet
  vim: set fdm=marker:
***************************************************** */

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold&subset=latin);

/* @section Facebook {{{
 ******************************************************************************/

@-moz-document domain(facebook.com) {

  #non-existent-id {}

  .uiStreamMessage .actorName,
  .uiStreamMessage .messageBody {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  .uiStreamMessage .actorName {
    float: left !important;
    margin: 0 0.3em 0 0 !important;
    padding-bottom: 0 !important;
  }

}

/* }}} */

/* @section Hacker news {{{
 ******************************************************************************/

@-moz-document domain(news.ycombinator.com) {

  #non-existent-id {}

  * {
    font-family: Helvetica !important;
    line-height: 1.4 !important;
  }

  body {
    padding: 10px !important;
  }

  body > center > table {
    width: 100% !important;
  }

  body > center > table > tbody > tr:first-child > td {
    -moz-border-radius: 5px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  .title a {
    font-family: Museo !important;
  }

  .title a:visited {
    color: #666 !important;
  }

  .pagetop a {
    font-family: Helvetica !important;
    font-size: 90% !important;
    color: rgba(0,0,0,0.6) !important;
  }

  img[src=http\:\/\/ycombinator\.com\/images\/y18\.gif] {
    margin: 0 2px 0 5px;
  }

}

/* }}} */

/* @section Reddit {{{
 ******************************************************************************/

@-moz-document domain(reddit.com) {

  #non-existent-id {}

  * { font-family: "Droid Sans" !important; }

  .flat-list,
  .tagline {
    font-size: 110% !important;
  }

  .linklisting {
    padding-top: 10px !important;
  }

  .linklisting div.link:hover {
    background: #f2efb7;
  }

  .linklisting .title {
    font-size: 135% !important;
  }

  .tabmenu {
    position: relative !important;
    top: -4px !important;
  }

  .tabmenu li a {
    -moz-border-radius: 5px 5px 0 0;
    padding-bottom: 4px !important;
    color: rgba(51, 102, 153, 0.5) !important;
  }

  .tabmenu li.selected a {
    color: rgba(51, 102, 153, 1) !important;
  }

  #siteTable_organic,
  .promotedlink {
    display: none;
  }

}

/* }}} */
